<div class="page-header-2">
  <div class="container text-center">
    <h1>Create Article</h1>
  </div>
</div>
<div class="container">
  <br>
  <%= form_for @article do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.submit 'Save', class: 'btn btn-default' %>
    </div>
  <% end %>
</div>