{{#with content}}
  <div class="page-header">
    <div class="container text-center">
      <h1>{{title}}</h1>
    </div>
  </div>

  <div class="container pt-20">
    <article class="post">
      <div class="post-number">
        <div class="number">{{id}}</div>
      </div>
      <div class="post-title">
        <h2>{{title}}</h2>
      </div>
      <div class="clearfix"></div>
      <div class="post-content">
        {{article_content}}
      </div>
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <div class="addthis_sharing_toolbox"></div>
    </article>

    {{comment-disqus}}
    
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
{{/with}}
